@font-face {
    font-family: 'bazar';
    src: url('../fonts/bazar-webfont.woff2') format('woff2'),
         url('../fonts/bazar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$bazar: bazar, sans-serif;