.grid-item {
	position: relative;
	z-index: 0;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	transition: transform .12s ease-out, z-index .12s ease-out;
	text-decoration: none;
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 12px rgba(#013743, .1);
		opacity: 0;
		transition: opacity .12s ease-out;
	}

	&:hover {
		z-index: 12;
		transform: scale(1.05, 1.05);
		transition: transform .12s ease-out;

		&::before {
			opacity: 1;
		}
	}

	&__title {
		font-family: $glad;
		font-size: 2rem;
		text-transform: uppercase;
	}
	
	&.size--2x1 {
		grid-row: span 2;
	}

	&.size--1x2 {
		grid-row: span 1;
		grid-column: span 2;
	}

	&.size--2x2 {
		grid-row: span 2;
		grid-column: span 2;
	}


	&.size--1x3 {
		grid-row: span 1;
		grid-column: span 3;
	}

	&.size--2x3 {
		grid-row: span 2;
		grid-column: span 3;
	}

	&.size--3x3 {
		grid-row: span 3;
		grid-column: span 3;
	}

	&.size--3x1 {
		grid-row: span 3;
		grid-column: span 1;
	}

	&.size--3x2 {
		grid-row: span 3;
		grid-column: span 2;
	}

	&.size--4x1 {
		grid-row: span 4;
		grid-column: span 1;
	}
}